@import "tailwindcss";

:root {
	--dot-size: 0.675rem;

	--black: #000000;
	--orange: #ffb86a;
	--green: #64f58d;
	--cyan: #53eafd;
	--blue: #74d4ff;
	--white: #ffffff;

	--background: var(--white);
	--border: var(--black);
	--chords: var(--orange);
	--play: var(--green);
	--scales: var(--blue);

	--guitar-color: #99621e;
	--banjo-color: #e9e9d0;
	--mandolin-color: #e6d5bc;
	--ukulele-color: #fff07c;
}

html {
	overflow-x: hidden;
	scroll-snap-type: y proximity;
}

body {
	background-color: var(--background);
	color: var(--black);
	font-family: "Geist Mono", monospace;
	overflow-x: hidden;
}

.Navbar,
.Title,
.Icon + span {
	font-family: "Geist", sans-serif;
}

button,
label,
select {
	cursor: pointer;
}

.Chord,
.Scale,
.Notes {
	font-size: min(1rem, 4vw);
}

.DisplaySelector {
	font-size: min(0.875rem, 3vw);
}

.Chords {
	background-color: var(--chords);
}

.Scales {
	background-color: var(--scales);
}

.Play {
	background-color: var(--play);
}

.ChordContainer {
	max-width: calc(100% - 2rem);
}

@supports (width: 100dvw) {
	.ChordContainer {
		max-width: calc(100dvw - 2rem);
	}
}

/* Instruments */
.fretboard {
	position: relative;
	z-index: 1;
}

.FretString,
.DroneString {
	position: relative;
	height: 2rem;
	min-height: 1rem;
	z-index: 1;
}

.FretString {
	background-color: var(--fretboard-color);
}

.FretString::after,
.DroneString .Fret::after {
	position: absolute;
	content: "";
	background-color: silver;
	width: 100%;
	height: 0.25rem;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
}

.DroneString .Fret::after {
	transform: translateX(-50%);
}

.Nut,
.Fret {
	position: relative;
	cursor: pointer;
	z-index: 4;
}

.AllowedNote {
	border-color: var(--border);
	z-index: 4;
}

.Fret:last-child {
	border-right: 0;
}

.Piano {
	--width-white: min(calc((100% - 2rem) / 7), 6.25rem);
	--width-black: calc(var(--width-white) * 0.6);
}

@supports (width: 100dvw) {
	.Piano {
		--width-white: min(calc((100dvw - 2rem) / 7), 6.25rem);
	}
}

.Piano .Key {
	position: relative;
	width: var(--width-white);
	height: calc(var(--width-white) * 4);
	max-height: 90vh;
}

.Piano .white {
	background-color: white;
}

.Piano .black {
	--margin: calc(var(--width-black) / -2);
	background-color: black;
	width: var(--width-black);
	height: calc(var(--width-black) * 4);
	margin-right: var(--margin);
	margin-left: var(--margin);
	z-index: 2;
}

.Piano .allowed::after {
	bottom: 1rem;
	transform: translateX(-50%);
}

.Guitar {
	--fretboard-color: var(--guitar-color);
}

.Banjo {
	--fretboard-color: var(--banjo-color);
}

.Banjo .FretString,
.Banjo .DroneString {
	border-right: 1px solid black;
}

.Banjo .FretString:first-of-type {
	border-top: 1px solid black;
}

.Banjo .DroneString .Nut,
.Banjo .DroneString .Fret {
	background-color: var(--banjo-color);
	border-bottom: 1px solid black;
	height: 2rem;
	z-index: 3;
}

.Banjo .FretString:nth-child(4) .Fret {
	border-bottom-width: 1px;
}

.Banjo .FretString:nth-child(4) .Fret:nth-child(n + 7) {
	border-bottom-width: 0;
}

.Banjo .DroneString .Nut {
	background-color: transparent;
	border-right: 4px solid black;
	border-bottom: 0;
	margin-left: 1px;
	z-index: 4;
}

.Banjo .DroneString .Nut .AllowedNote {
	margin-left: 3px;
}

.Ukulele {
	--fretboard-color: var(--ukulele-color);
}

.Mandolin {
	--fretboard-color: var(--mandolin-color);
}

.Modes .ModesHeading {
	font-size: clamp(0.375rem, 4vw, 1rem);
}

.Mode .ModeHeadingText {
	font-size: clamp(0.375rem, 2.25vw, 1.25rem);
}

.Mode .ModeNote {
	font-size: clamp(min(2.5vw, 1.25rem), 0.675rem, 0.675rem);
}

/* Jazz Mode Note Border Classes */
.Piano .AllowedNote {
	--border: var(--cyan);
}

.AllowedNote.border-dotted {
	border-color: hsl(from var(--border) h s l / 0.375);
}

.AllowedNote.border-dashed {
	border-color: hsl(from var(--border) h s l / 0.5);
}

.AllowedNote.border-solid {
	border-color: hsl(from var(--border) h s l / 0.75);
}

.AllowedNote.border-double {
	border-color: hsl(from var(--border) h s l / 1.0);
}

.ChordNote {
	--border: var(--black);
}

.ChordNote.border-dotted {
	border-color: hsl(from var(--border) h s l / 0.2);
}

.ChordNote.border-dashed {
	border-color: hsl(from var(--border) h s l / 0.25);
}

.ChordNote.border-solid {
	border-color: hsl(from var(--border) h s l / 0.5);
}

.ChordNote.border-double {
	border-color: hsl(from var(--border) h s l / 1.0);
}

/* Chord Bin */
.ChordBinItems {
	grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
}

.ChordBinItem {
	min-width: 0;
}

/* Utility Classes */
.text-xxxs {
	font-size: 0.5rem;
}

.text-xxs {
	font-size: 0.675rem;
}

@media (width >= 40rem) {
	.hasFlat {
		letter-spacing: -0.15ch;
	}

	.sm\:text-base {
		font-size: var(--text-base);
		line-height: var(--tw-leading, var(--text-base--line-height));
	}
}

/* camelCase to match React Prop */
.hasFlat {
	letter-spacing: 0em;
}

.hasSharp {
	letter-spacing: 0em;
}

.scroll-snap-align-start {
	scroll-snap-align: start;
}
