@import "tailwindcss";

:root {
	--black: #000000;
	--orange: #ffb86a;
	--green: #64f58d;
	--blue: #74d4ff;
	--white: #ffffff;

	--background: var(--white);
	--chords: var(--orange);
	--play: var(--green);
	--scales: var(--blue);
}

body {
	background-color: var(--background);
	color: var(--black);
	font-family: "Inter", sans-serif;
}

button {
	cursor: pointer;
}

.Chords {
	background-color: var(--chords);
}

.Scales {
	background-color: var(--scales);
}

.Play {
	background-color: var(--play);
}
